*.patch
*.sqlite
/.buildpath
/.htaccess
/.idea
/.project
/.settings
/lighttpd.conf
/nginx.conf
/setup.php
/setup*.php
/web.config
/nbproject
/uploads/cache/*.tmp
/uploads/gallery/pics/*.jpg
/uploads/gallery/thumbs/*.jpg
/uploads/games/[1-9].gif
/uploads/imprint/*.txt
/uploads/logs/actions/*.log
/uploads/logs/errors/*.log
/uploads/rss/*.xml
/uploads/users/nopicture.*

/templates/*
/themes/*

\!/templates/base/
\!/templates/clansphere/
\!/templates/index.html

\!/themes/base/
\!/themes/clansphere/
\!/themes/custom/
\!/themes/.htaccess
\!/themes/index.html
\!/themes/web.config