span, div {
  margin: 0;
  padding: 0;
}
hr {
  border: 1px solid #888888;
}
img {
  border: 0;
}
form {
  display: inline;
}
textarea {
  width: 90%;
}
ul {
  margin: 0;
}

input[type="submit"] {
    border: none;
	color:#fff;
	background-color:#999;
	text-shadow: 1px 1px 0 #777;
	}

input, textarea, select {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #002200;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 8pt;
  margin: 2px;
  padding: 4px;
}
.forum {
  background-color:#ccc;
  color:inherit;
  margin:auto;
  border-collapse:separate;
  border-spacing:1px;
}
.headb {
  background-color:#eee;
  color:#777;
  background-repeat:repeat-x;
  padding:3px 4px 6px 8px;
  text-align:left;
  font-size: 12px;
  font-weight:bold;
}
.bottom {
  background-color:#fff;
  color:inherit;
  padding:4px 6px 4px 8px;
  text-align:left;
}
.newshead {
  background-color:#eee;
  color:#777;
  padding:3px 4px 6px 8px;
  text-align:left;
  font-size: 12px;
  font-weight:bold;
}
.left,.center,.right {
  padding:1px;
}
.leftb,.centerb,.rightb {
  background-color:#FCFCFC;
  color:#444;
  padding:4px 6px 4px 8px;
}
.leftc,.centerc,.rightc {
  background-color:#F2F2F2;
  color:#222222;
  padding:4px 6px 4px 8px;
}
.left,.leftb,.leftc {
  text-align:left;
}
.center,.centerb,.centerc {
  text-align:center;
}
.right,.rightb,.rightc {
  text-align:right;
}
.notpublic {
  background-color:#F5F5F5 !important;
  color:#CCC !important;
  font-style:italic;
}

.quote {
  background-color:#EEEEEE;
  border:1px dashed #888888;
  color:inherit;
  padding:6px;
  text-align:left;
}
.h1 {
  color: #333333;
  font-size: 14pt;
  font-weight: bold;
  text-decoration: none;
}
.h2 {
  color: #333333;
  font-size: 16pt;
  font-weight: normal;
  text-decoration: none;
}
.h3 {
  color: #333333;
  font-size: 20pt;
  font-weight: normal;
  text-decoration: none;
}

#msg_normal, #msg_success {
  width: 90%;
  color:inherit;
  margin:auto;
  border: 1px solid #888;
  margin-bottom: 10px;
  text-align:center;
}
#msg_normal div, #msg_success div {
  padding: 8px 0 8px 20px;
}
#msg_normal {
  background-color: #fff;
}
#msg_success {
  background-color: #ddffdd;
}

/*Cal*/
.calhead {
  background-color:#eee;
  color:inherit;
  padding:4px 2px 4px 2px;
  text-align:center;
}
.calday,.calevent,.caltoday, .calweek {
  padding:4px 2px 4px 2px;
  text-align:right;
  background-color:#fff;
}
.calday {
  background-color:#eee;
  color:inherit;
}
.calevent {
  background-color:#fff;
  color:inherit;
}
.caltoday {
  background-color:#ccc;
  color:inherit;
  text-decoration:underline;
}
.calweek {
  background-color:#eee;
  color:inherit;
}

/*Manage*/
.manage {
  background-color: #F8F8F8;
  border: 1px solid #999999;
  margin: 5px;
  padding: 5px 0px 0px 0px;
}
.manage:hover {
  background-color:#E2E2E2;
}

/*Themebar*/
.themebar {
  border: 1px dashed #777777;
  margin: 4px 8px 4px 8px;
  padding: 4px;
}

/* UserStatus */
.uonline {
  padding: 4px 0 4px 0; 
  color: #00BB00;
}

.uoffline {
  padding: 4px 0 4px 0; 
  color: maroon;
}

.uinactive {
  padding: 4px 0 4px 0; 
  color: #555555
}

.uthreadstarter {
  color: #aa5500;
}

.thread_author_comment .leftc {
  background-color:#f1eae6;
}

#ajax_loading {
  position:absolute;
  top:50%;
  right:50%;
}