<!-- $Id$ -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>{func:title}</title>
	<meta http-equiv="Content-Type" content="text/html; charset={func:charset}" />
	<link href="clansphere.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="head">ClanSphere 2008<br />Login Panel</div>
{func:show}
	<div id="bottom">{clansphere:navtime} - Load: {func:parse}ms - Queries: {func:queries} - Memory: {func:memory}</div>
</body>
</html>