<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>{func:title}</title>
  {clansphere:navmeta}
  <link href="clansphere.css" rel="stylesheet" type="text/css" />
  <link href="clansphere_div.css" rel="stylesheet" type="text/css" />
  <link rel="alternate" type="application/rss+xml" href="../../uploads/rss/news.xml" />
</head>
<body>

<div id="debug">
    <span id="errors">{func:errors}</span>
    <span id="sql">{func:sql}</span>
  </div>

<div id="nav-left">
  <div>MAIN</div>
  <a href="?mod=news&amp;action=recent" class="dark">News</a>
  <a href="?mod=gbook">Gbook</a>
  <a href="?mod=board" class="dark">Board</a>
  <a href="?mod=search">Search</a>
  
  <div>CLAN</div>
  <a href="?mod=members&amp;action=teams" class="dark">Teams</a>
  <a href="?mod=members">Members</a>
  <a href="?mod=wars" class="dark">Clanwars</a>
  <a href="?mod=awards">Awards</a>
  <a href="?mod=history" class="dark">History</a>
  <a href="?mod=rules">Rules</a>
  <a href="?mod=links&amp;action=sponsors" class="dark">Sponsors</a>
  
  <div>SERVICE</div>
  <a href="?mod=events&amp;action=calendar" class="dark">Events</a>
  <a href="?mod=servers">Servers</a>
  <a href="?mod=users" class="dark">Community</a>
  <a href="?mod=files">Downloads</a>
  <a href="?mod=replays" class="dark">Replays</a>
  <a href="?mod=links">Links</a>
  <a href="?mod=quotes" class="dark">Quotes</a>
  <a href="?mod=faq">Faq</a>
  <a href="?mod=articles" class="dark">Articles</a>
  <a href="?mod=gallery">Gallery</a>
      
  <div>CONTACT</div>
  <a href="?mod=joinus&amp;action=new" class="dark">Joinus</a>
  <a href="?mod=fightus&amp;action=new">Fightus</a>
  <a href="?mod=contact&amp;action=mail" class="dark">Mailus</a>
  <a href="?mod=contact&amp;action=imprint">Imprint</a>
  <a href="?mod=clansphere&amp;action=about" class="dark">Scriptinfo</a>
 </div>

<div id="content">{func:show}</div>

<div id="nav-right">
  <div class="navhead">LOGIN</div>
  <div>{users:navlogin}</div>
  <div class="navhead" id="upcoming">UPCOMING WARS</div>
  <div>{wars:navnext}</div>
  <div class="navhead">LATEST WARS</div>
  <div>{wars:navlist}</div>
  <div class="navhead">VOTES</div>
  <div>{votes:navlist}</div>
  <div class="navhead">COUNTER</div>
  <div id="counter">
    <span>{count:navone}</span> <a href="?mod=count&amp;action=online">Online</a><br />
    <span>{count:navday}</span> Heute<br />
    <span>{count:navmon}</span> Monat<br />
    <span>{count:navall}</span> <a href="?mod=count&amp;action=stats">Gesamt</a>
   </div>
 </div>

</body>
</html>