<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>{func:title}</title>
  <meta http-equiv="Content-Type" content="text/html; charset={func:charset}" />
  {clansphere:navmeta}
  <link href="template.css" rel="stylesheet" type="text/css" />
  <link href="content.css" rel="stylesheet" type="text/css" />
  <link href="clansphere_div.css" rel="stylesheet" type="text/css" />
  <link rel="alternate" type="application/rss+xml" href="../../uploads/rss/news.xml" />
</head>
<body>

<div id="nav-left">
  <div>MAIN</div>
  <a href="{url:news_recent}" class="dark">News</a>
  <a href="{url:gbook}">Gbook</a>
  <a href="{url:board}" class="dark">Board</a>
  <a href="{url:search}">Search</a>
  
  <div>CLAN</div>
  <a href="{url:members_teams}" class="dark">Teams</a>
  <a href="{url:members_list}">Members</a>
  <a href="{url:wars_list}" class="dark">Clanwars</a>
  <a href="{url:awards_list}">Awards</a>
  <a href="{url:history_list}" class="dark">History</a>
  <a href="{url:rules_list}">Rules</a>
  <a href="{url:links_sponsors}" class="dark">Sponsors</a>
  
  <div>SERVICE</div>
  <a href="{url:events_agenda}" class="dark">Events</a>
  <a href="{url:servers_list}">Servers</a>
  <a href="{url:users_list}" class="dark">Community</a>
  <a href="{url:files_list}">Downloads</a>
  <a href="{url:replays_list}" class="dark">Replays</a>
  <a href="{url:links_list}">Links</a>
  <a href="{url:quotes_list}" class="dark">Quotes</a>
  <a href="{url:faq_list}">Faq</a>
  <a href="{url:articles_list}" class="dark">Articles</a>
  <a href="{url:gallery_list}">Gallery</a>
  <a href="{url:cups}"  class="dark">Cups</a>
      
  <div>CONTACT</div>
  <a href="{url:joinus_new}" class="dark">Joinus</a>
  <a href="{url:fightus_new}">Fightus</a>
  <a href="{url:contact_mail}" class="dark">Mailus</a>
  <a href="{url:contact_imprint}">Imprint</a>
  <a href="{url:clansphere_about}" class="dark">Scriptinfo</a>
 </div>

<div id="content">{func:show}</div>

<div id="nav-right">
  <div class="navhead">LOGIN</div>
  <div class="navbody">{users:navlogin}</div>
  <div class="navhead">UPCOMING WARS</div>
  <div class="navbody">{wars:navnext}</div>
  <div class="navhead">LATEST WARS</div>
  <div class="navbody">{wars:navlist}</div>
  <div class="navhead">VOTES</div>
  <div class="navbody">{votes:navlist}</div>
  <div class="navhead">COUNTER</div>
  <div id="counter" class="navbody">
    <span>{count:navone}</span> <a href="{url:count_online}">Online</a><br />
    <span>{count:navday}</span> Heute<br />
    <span>{count:navmon}</span> Monat<br />
    <span>{count:navusr}</span> Registriert<br />	
    <span>{count:navall}</span> <a href="{url:count_stats}">Gesamt</a>
   </div>
 </div>

 <div id="bottom">{clansphere:navtime} - Load: {func:parse}ms - Queries: {func:queries} - Memory: {func:memory}</div>
 
</body>
</html>