<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>{func:title}</title>
  <meta http-equiv="Content-Type" content="text/html; charset={func:charset}" />
  <link href="clansphere.css" rel="stylesheet" type="text/css" />
</head>
<body>
<img src="img/clansphere.png" alt="ClanSphere" /><br />
<div id="slogan">Professional clan care starts here</div>
<br />

<div id="content">{func:show}</div>

</body>
</html>