.container {
	color:inherit;
	margin:auto;
	clear:both;
}
.container div {
	margin:1px;
}
.fl {
	float:left;
}
.fr {
	float:right;
}
.headc {
	background-color:#ffffff;
	color:inherit;
	text-align:left;
}
